
<%- include('partials/header') %>
<main>
    <h1>About Me</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <p>My name is Joshua Argyle, a CSE Major here at BYU Idaho. 
    </p>
    <h1>Hobbies</h1>
    <li>
        <ul>Piano</ul>
        <ul>Composing Music</ul>
        <ul>Mountain Biking</ul>
    </li>
    <img src="/images/joshua_argyle.png" alt="Joshua Argyle Profile Pic">
</main>
<%- include('partials/footer') %>